header.header__application {
  margin: 1em;
  & .header__actions {
    display: flex;
    justify-content: space-between;
  }
  & .header__searchbox {
    margin: 1em 1em 1.5em;
  }
}

.undecored {
  color: inherit;
  text-decoration: inherit;
}
