@import '../assets/styles/variables.scss';
header.header__application {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow:  0px 3px 30px rgba(0,0,0, 0.20);
  -webkit-box-shadow:  0px 3px 30px rgba(0,0,0, 0.20);
  -moz-box-shadow:  0px 3px 30px rgba(0,0,0, 0.20);
}

.undecored {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.logo{
  display: flex;
  & > .home__link > img {
    max-height: 2.5rem;
    height: 2.5rem;
    width: auto;
  }
}

.options {
  & > i, & > a {
    font-size: 2rem;
    margin-left: 24px;
    position: relative;

    &:last-child {
      margin-right: 8px;
    }

    .icon__badge {
      position: absolute;
      right: 0px;
      top: -5px;
      background: #F2594E;
      border-radius: 10px;
      padding: 3px;
      color: white;
      font-size: 0.8rem;
    }
  }
}

