.icon__input {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0.75em;
  border-radius: 4px;
  box-shadow:  0px 3px 16px rgba(0,0,0, 0.20);
  -webkit-box-shadow:  0px 3px 16px rgba(0,0,0, 0.20);
  -moz-box-shadow:  0px 3px 16px rgba(0,0,0, 0.20);
  & input {
    border: 0;
    width: 100%;
    padding-left: 22px;
    &:focus {
      outline: none;
    }
  }
}
