.icon__input {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0.75em;
  border-radius: 4px;
  & input {
    border: 0;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}
