@import '../variables.scss';

nav.menu__sidebar {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow:hidden;
  & > .menu__header {
    padding: 34px 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    & > .menu__logo {
      & > picture.menu__logo__picture {
        & > img {
          height: 64px;
          width: auto;
        }
      }
    }

    & > .menu__close__icon {
      margin-left: auto;
      color: $secondary-color;
    }
  }

  & > .menu__items {
    margin-top: 16px;
    flex: 1;
    height: 48px * 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0px 16px 0px;
    & > .menu__item {
      &[type='button']{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
      }
      text-transform: uppercase;
      border-radius: 6px;
      width:100%;
      margin-left:0;
      margin-right:0;
      padding: 8px 0px;
      display:block;
      text-align:left;
      text-decoration: none;
      color: inherit;
      font-weight: normal;
      font-size: 1rem;
        /* Corrects font smoothing for webkit */
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;

      /* Corrects inability to style clickable `input` types in iOS */
      -webkit-appearance: none;
      & > i {
        width: 16px;
        margin-right: 16px;
        margin-left: 16px;
      }
      &.active {
        background-color: #2C44C3;
        color: #FFFFFF;
      }
    }
  }
}
