section.checkout__products {
  margin: 1em 1em 1.5em;
  .checkout__products__pay__actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    & a{
      margin-top: 16px;
    }
  }
}

.link__button {
  background-color: #ff8900;
  width: 272px;
  height: 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}
