section.dashboard__section {
  padding: 0px 24px 0px;
  margin-top:24px;
  section.dashboard__card {
    margin-top: 16px;
    height: 128px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    box-shadow: 0px 3px 6px #2C28281C;
    -webkit-box-shadow: 0px 3px 6px #2C28281C;
    -moz-box-shadow: 0px 3px 6px #2C28281C;
    & > .dashboard__content {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &:first-of-type {
        margin-left: 24px;
      }
      & > .dashboard__title {
        color: #8898AA;
        font-size: 1rem;
        margin-top: 24px;
        margin-bottom: 12px;
      }
      & > .dashboard__body {
        color: #4D4F5C;
        font-size: 1.15rem;
      }
      & > .dashboard__footer {
        margin-bottom: 20px;
        margin-top: auto;
        color: #4D4F5C;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        & > .dashboard__footer__content {
          flex: 1;
        }
        & > .positive {
          color: #2DCE98;
        }
        & > .negative {
          color: #F53C56;
        }
      }
      & > .dashboard__image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        text-align: center;
        margin-top: 24px;
        margin-left: 64px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &.positive {
          background-color: #2DCE98;
        }
        &.negative {
          background-color: #F53C56;
        }
      }
    }
  }
}
