@import './variables.scss';

header.login__header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  padding-top: 12px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 6px 20px #1F54C31A;
  -webkit-box-shadow: 0px 6px 20px #1F54C31A;
  -moz-box-shadow: 0px 6px 20px #1F54C31A;
  & > picture.login__header__picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    & > .login__header__img {
      width: auto;
      height: 56px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  & > .login__header__tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    & > .login__header__tab {
      text-decoration: none;
      color: #1D2226;
      margin-top:20px;
      width: 100%;
      text-align: center;
      font-size: 1.1rem;
      font-weight: normal;
      padding-bottom: 7px;
      text-transform: capitalize;
      &:hover:not(.active){
        opacity: 0.65;
      }
      &.active {
        font-weight: bold;
        border-bottom: 4px solid #1F54C3;
      }
    }
  }
}

form.login__form {
  padding: 0px 38px;
  margin-top: 16px;
  & > div.icon__input {
    margin-top: 16px;
  }
  & > div.login__form__forgot {
    font-size: 0.8rem;
    color: #8A9EAD;
    text-align: right;
    margin-top: 10px;
  }
  & > div.login__form__send {
    margin-top: 22px;
    padding: 0 10%;
  }
  & > div.login__form__option {
    font-size: 0.8rem;
    color: #8A9EAD;
    text-align: center;
    margin-top: 8px;
  }
}

div.login__social__buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  margin-top: 22px;
  & > picture:not(:last-of-type) {
    margin-right: 16px
  }
}

footer.login__footer {
  margin-top: auto;
  margin-bottom: 8px;
  text-align: center;
  font-size: 0.65rem;
}
