@import url('https://use.typekit.net/gsw2naj.css');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f6f8fa;
}

#app {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
