form.search__customer__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 16px;
  & .search__customer__input {
    margin-top: 16px;
    & input {
      width: 280px;
      height: 42px;
      border-color: rgba($color: black, $alpha: 0.25);
      border-radius: 4px;
      &::placeholder {
        font-size: 14px;
        padding-left: 14px;
      }
    }
    & .search__customer__button {
      background-color: #ff8900;
      color: white;
      height: 42px;
      width: 42px;
      margin-left: 8px;
      border: none;
      border-radius: 4px;
    }
  }
  & .search__customer__submit {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
    width: 96%;
    height: 0;
    & input {
      background-color: #ff8900;
      border: 0;
      width: 271px;
      height: 44px;
      margin-top: 32px;
      color: white;
      appearance: none;
      border-radius: 0px;
      font-size: 16px;
    }
  }
}
